*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

:root {

    --color-celeste:rgb(158, 197, 232);
    --color-azul:rgb(12, 95, 178);
    --color-azulmarino:rgb(4, 23, 39);
    --color-azulclaro:rgba(12, 95, 178, 0.697);

}

h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h3{
    font-family: 'Questrial';
}


h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h4{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}



.contenedor{
    display: flex;
    background-color: var(--color-azul);
    
}
.name{
    margin-left: 30px;
    margin-top: 8px;
    color: white;
    font-size: 25px;
    padding-top: 15px;
}
.logo img{
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;

}
.contenedor-menu{
    padding-left: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.menu-barra{
    display:flex;
    list-style: none;
}

.menu-barra li{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    margin-left: 15px;
    
}

.menu-barra li a{
    background-color:#fff;
    display:inline-flex;
    border-radius: 50px;
    padding: 12px;
    margin: 13px;
    text-decoration: none;
    color: var(--color-azul);
    text-align: right;
}

.menu-barra li a:hover{
    color:white;
    background-color: var(--color-azulmarino);

}






.title h1{
    color:var(--color-azul);
    margin: 50px;
    text-align: center;
    font-size: 50px;
}



.mision-vision{
    display: flex;
    text-align: center;
}
.mision{
    background-color: var(--color-azulclaro);
    width: 1100px;
    margin:50px;
    padding: 30px;
    border-radius: 20px;
}
.mision-icon{
    color:white;
    font-size: 50px;
}
.mision h1{
    color:white;
}
.mision h2{
    color:white;
    margin-top: 20px;
}
.vision{
    background-color: var(--color-azulclaro);
    width: 1100px;
    margin:50px;
    padding: 30px;
    border-radius: 20px;
}
.vision-icon{
    color:white;
    font-size: 50px;
}
.vision h1{
    color:white;
}
.vision h2{
    color:white;
    margin-top: 20px;
}

.enfoque-container{
    text-align: center;
    display: flex;
    margin-left:240px;
    margin-bottom: 50px;
}
.enfoque{
    background-color: var(--color-azulclaro);
    width: 900px;
    margin:50px;
    padding: 30px;
    border-radius: 20px;
}
.enfoque-icon{
    color:white;
    font-size: 50px;
}
.enfoque h1{
    color:white;
}
.enfoque h2{
    color:white;
    margin-top: 20px;
}


.enfoques{
    text-align: center;
}






.aboutustitle{
    background-color: var(--color-azulclaro);
    text-align: center;
    padding:30px;
    color:white;
    margin-bottom: 0px;
}
.textaboutus{
    display: flex;
    padding-left:100px;
    padding-right: 100px;
    background-color: var(--color-celeste);
}
.textaboutus h2{
    margin-left:100px;
    margin-right: 200px;
    margin-top:50px;
    margin-bottom: 50px;
    font-size: 21px;
    color:var(--color-azulmarino);
    text-align: center;
}
.nosotrosimg img{
    width:350px;
    padding: 0px;

    
}






.dirigidoatitle{
    background-color: var(--color-azulclaro);
    text-align: center;
    padding:30px;
    color:white;
    margin-bottom: 0px;
}
.dirigidoatext h2{
    margin-left:300px;
    margin-right: 300px;
    margin-top:50px;
    margin-bottom: 0px;
    font-size: 21px;
    color:var(--color-azulmarino);
    text-align: center;
}

.publicoimg{
    text-align: center;
}
.publicoimg img{
    width:40%;
    margin:50px;
    border-radius: 20px;
}







.footer{
    background-color:var(--color-azul);
    padding: 20px;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-text{
    margin-left: 290px;
}
.footer-text1 h2{
    color:white;
    text-align: center;
}
.footer-text h2{
    color: white;
    text-align: center;
}
.medio-pago h2{
    color:white;
    margin-left: 25px;
    margin-bottom: 5px;
}
.medio-pago img{
    width: 170px;
    margin-left: 50px;
    border-radius: 10px;

}
.footer-icon{
    display: flex;
    margin-left: 300px;
}
#instagram{
    font-size: 50px;
}
.Instagram{
    color: white;
}
#tiktok{
    font-size: 50px;
}
.TikTok{
    color:white;
    margin-left: 30px;
}