*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

:root {

    --color-celeste:rgb(158, 197, 232);
    --color-azul:rgb(12, 95, 178);
    --color-azulmarino:rgb(4, 23, 39);
    --color-azulclaro:rgba(12, 95, 178, 0.697);

}

h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h3{
    font-family: 'Questrial';
}


h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h4{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}



.contenedor{
    display: flex;
    background-color: var(--color-azul);
    
}
.name{
    margin-left: 30px;
    margin-top: 8px;
    color: white;
    font-size: 25px;
    padding-top: 15px;
}
.logo img{
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;

}
.contenedor-menu{
    padding-left: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.menu-barra{
    display:flex;
    list-style: none;
}

.menu-barra li{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    margin-left: 15px;
    
}

.menu-barra li a{
    background-color:#fff;
    display:inline-flex;
    border-radius: 50px;
    padding: 12px;
    margin: 13px;
    text-decoration: none;
    color: var(--color-azul);
    text-align: right;
}

.menu-barra li a:hover{
    color:white;
    background-color: var(--color-azulmarino);

}




.contenedor-description{
    display:flex;
}
.description{
    width: 750px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 50px;
}

.description h1{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 38px;
    color: var(--color-azul);
    text-align: center;
}
.description h2{
    margin-top: 20px;
    margin-left: 40px;
    padding-right:30px;
    font-size: 21px;
    color:var(--color-azulmarino);
    text-align: center;
}
.Banner{
    padding-top: 50px;
}
.Banner img{
    width: 650px;
}




.beneftitle h1{
    text-align: center;
    margin-top: 80px;
    padding:30px;
    background-color:var(--color-azulclaro);
    color:white;
}

.beneficios{
    display: flex;
    margin-left: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.benef1 h1{
    text-align: center;
    color:var(--color-azulmarino);
    padding-bottom: 10px;
}
.benef1 h2{
    text-align: center;
    color:var(--color-azulmarino);
    font-size: 20px;
    padding: 20px;
}
.benef1{
    width:350px;
    background-color: var(--color-celeste);
    padding:20px;
    border-radius: 20px;
    margin:30px;
    text-align: center;
}
.benef1-icon{
    font-size: 50px;
    color:var(--color-azulmarino)
}

.benef2{
    width:350px;
    background-color: var(--color-celeste);
    padding:20px;
    border-radius: 20px;
    margin:30px;
    text-align: center;
}
.benef2-icon{
    font-size: 50px;
    color:var(--color-azulmarino)
}
.benef2 h1{
    text-align: center;
    color:var(--color-azulmarino);
    padding-bottom: 10px;
}
.benef2 h2{
    text-align: center;
    color:var(--color-azulmarino);
    font-size: 20px;
    padding: 20px;
}

.benef3{
    width:350px;
    background-color: var(--color-celeste);
    padding:20px;
    border-radius: 20px;
    margin:30px;
    text-align: center;
}
.benef3-icon{
    font-size: 50px;
    color:var(--color-azulmarino);
}
.benef3 h1{
    text-align: center;
    color:var(--color-azulmarino);
    padding-bottom: 10px;
}
.benef3 h2{
    text-align: center;
    color:var(--color-azulmarino);
    font-size: 20px;
    padding: 10px;
}




.servcommon{
    background-color: var(--color-celeste)
}
.servtitle h1{
    text-align: center;
    padding:30px;
    background-color:var(--color-azulclaro);
    color:white;
}
.serv-content{
    background-color: white;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.collage img{
    width: 400px;
    margin:40px;
    border-radius: 10px;
}

.serv-subtitle{
    color:var(--color-azul);
    margin:30px;
}
.serv-subtitle{
    font-size: 20px;
}
.serv-text{
    margin-left: 30px;
    margin-top: 35px;
    color: var(--color-azulmarino);
}
.serv-text h2{
    margin:15px;
}
.button-more a{
    background-color:var(--color-azulclaro);
    padding: 12px;
    margin: 13px;
    margin-left: 500px;
    margin-top: 60px;
    width: 190px;
    text-align: center;
    color:white;
    border-radius: 15px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.button-more{
    margin-top: 50px;
}

.button-more a:hover{
    background-color: var(--color-azulmarino);
    color:white;

}




.footer{
    background-color:var(--color-azul);
    padding: 20px;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-text{
    margin-left: 290px;
}
.footer-text1 h2{
    color:white;
    text-align: center;
}
.footer-text h2{
    color: white;
    text-align: center;
}
.medio-pago h2{
    color:white;
    margin-left: 25px;
    margin-bottom: 5px;
}
.medio-pago img{
    width: 170px;
    margin-left: 50px;
    border-radius: 10px;

}
.footer-icon{
    display: flex;
    margin-left: 300px;
}
#instagram{
    font-size: 50px;
}
.Instagram{
    color: white;
}
#tiktok{
    font-size: 50px;
}
.TikTok{
    color:white;
    margin-left: 30px;
}