*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

:root {

    --color-celeste:rgb(158, 197, 232);
    --color-azul:rgb(12, 95, 178);
    --color-azulmarino:rgb(4, 23, 39);
    --color-azulclaro:rgba(12, 95, 178, 0.697);

}

h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h3{
    font-family: 'Questrial';
}


h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h4{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}



.contenedor{
    display: flex;
    background-color: var(--color-azul);
    
}
.name{
    margin-left: 30px;
    margin-top: 8px;
    color: white;
    font-size: 25px;
    padding-top: 15px;
}
.logo img{
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;

}
.contenedor-menu{
    padding-left: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.menu-barra{
    display:flex;
    list-style: none;
}

.menu-barra li{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    margin-left: 15px;
    
}

.menu-barra li a{
    background-color:#fff;
    display:inline-flex;
    border-radius: 50px;
    padding: 12px;
    margin: 13px;
    text-decoration: none;
    color: var(--color-azul);
    text-align: right;
}

.menu-barra li a:hover{
    color:white;
    background-color: var(--color-azulmarino);

}






.title h1{
    color:var(--color-azul);
    margin: 50px;
    text-align: center;
    font-size: 50px;
}


.line1-serv{
    display: flex;
}

.serv1{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv1-text h2{
    color:white;
    margin:50px;
    margin-top: 45px;
    margin-left: 30px;
}
.serv1-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}



.serv2{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv2-text h2{
    color:white;
    margin:50px;
    margin-top: 60px;
    margin-left: 30px;
}
.serv2-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv3{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv3-text h2{
    color:white;
    margin:50px;
    margin-top: 60px;
    margin-left: 30px;
}
.serv3-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv4{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv4-text h2{
    color:white;
    margin:50px;
    margin-top: 50px;
    margin-left: 30px;
}
.serv4-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv5{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv5-text h2{
    color:white;
    margin:50px;
    margin-top: 60px;
    margin-left: 30px;
}
.serv5-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}



.serv6{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv6-text h2{
    color:white;
    margin:50px;
    margin-top: 50px;
    margin-left: 30px;
}
.serv6-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv7{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv7-text h2{
    color:white;
    margin:50px;
    margin-top: 40px;
    margin-left: 30px;
}
.serv7-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv8{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv8-text h2{
    color:white;
    margin:50px;
    margin-top: 35px;
    margin-left: 30px;
}
.serv8-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv9{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv9-text h2{
    color:white;
    margin:50px;
    margin-top: 35px;
    margin-left: 30px;
}
.serv9-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv10{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
}
.serv10-text h2{
    color:white;
    margin:50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 2px;
}
.serv10-text2 h2{
    color:white;
    margin:2px;
    margin-top: 2px;
    margin-left: 30px;
}
.serv10-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}


.serv11{
    display: flex;
    background-color:var(--color-azulmarino);
    height: 260px;
    width:700px;
    border-radius: 30px;
    margin: 40px;
    margin-left: 350px;
}
.serv11-text h2{
    color:white;
    margin:50px;
    margin-top: 35px;
    margin-left: 30px;
}
.serv11-img img{
    width:300px;
    padding-right: 40px;
    border-radius: 30px;
}






.aditionaltitle{
    background-color: var(--color-azulclaro);
    text-align: center;
    padding:30px;
    color:white;
    margin-bottom: 0px;
}
.aditionalimg img{
    width: 100%;
}









.footer{
    background-color:var(--color-azul);
    padding: 20px;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-text{
    margin-left: 290px;
}
.footer-text1 h2{
    color:white;
    text-align: center;
}
.footer-text h2{
    color: white;
    text-align: center;
}
.medio-pago h2{
    color:white;
    margin-left: 25px;
    margin-bottom: 5px;
}
.medio-pago img{
    width: 170px;
    margin-left: 50px;
    border-radius: 10px;

}
.footer-icon{
    display: flex;
    margin-left: 300px;
}
#instagram{
    font-size: 50px;
}
.Instagram{
    color: white;
}
#tiktok{
    font-size: 50px;
}
.TikTok{
    color:white;
    margin-left: 30px;
}